.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:left;
	background:none repeat scroll 0 0 #B0E0E6;
	border-bottom:1px solid #BBBBBB;
	padding:14px 14px 14px 1px;
}

.order-table-odd-row{
	text-align:left;
	
	background:none repeat scroll 0 0 #E6E6FA;
	border-top:1px solid #BBBBBB;
	padding-left: 10px;
}

.order-table-even-row{
	text-align:left;
	
	background:none repeat scroll 0 0 #D8BFD8;
	
	border-top:1px solid #BBBBBB;
	padding-left: 10px;
	
}